.box{background-color: white;height: 100vh;display: flex;flex-direction: column;align-items: center;}
.arrange{width: 600px;display: flex;flex-direction: column;padding: 20px;border: 1px solid lightgray;}
.radio{position: relative;right:200px;}
.calendar{position: relative;}
.heading{position: relative;top:20px;left:50px;}
.subheading{text-align: center;}
div.disabled{overflow-x: hidden;}