a{color: black;}
.image{width:250px;height:170px;}
.arrange{background-color: pink; align-self: center;width: 100%;display: flex;flex-direction: column;padding: 80px;border: 1px solid lightgray;}
.column{padding-left: 10px;}
#shift{margin-top: 110px;text-align: center;position:relative;right:0%;position: absolute;padding-right: 235px;}
