.bottom-container{background-color: #212c2c;position: absolute;bottom:0;width:100%;height:100px;padding:100px;}
h6{color:white;text-align: center;}
.structure{text-align: center;}
.heading{position: relative;top:20px;}
a{color:white;text-decoration: none;}
.footer-link{padding: 30px;font-weight: bold;position:relative;bottom:50px;}
.BUTTON_WHZ {position: absolute;top: 50%;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;color: #FFFFFF;font-family: Open Sans;
    font-size: 34px;
    background-color: rgba(233, 58, 33, 0.95);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;}
 .BUTTON_WHZ:hover {background: #EE6817;border: solid #FFAE00 0;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;text-decoration: none;}
 .wrapper{text-align: center;}